name: ci

on:
  # push:
  #   branches: [ master ]
  schedule:
    - cron: '0 0 * * *'
  # push:
  #   branches:
  #     - '*' # Trigger on all branches
      
jobs:
  build-images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Check for Changes in manojmanivannan/postgres-playground
        id: conditions
        env:
          GITHUB_TOKEN: ${{ secrets.DOCKER_REPO_POSTGRES_FETCH_PAT }} # Personal Access Token with repo scope
        run: |
          # Get the last commit timestamp of the repo manojmanivannan/postgres-playground
          commit_date_time=$(curl -s -L -H "Authorization: Bearer $GITHUB_TOKEN" -H "Accept: application/vnd.github+json" -H "X-Github-Api-Version 2022-11-28" https://api.github.com/repos/manojmanivannan/postgres-playground/commits | jq '.[0].commit.author.date' | sed 's/"//g')

          # Get the current timestamp
          current_date_time=$(date -u +"%Y-%m-%dT%H:%M:%SZ")

          # Get the time difference in seconds
          time_sec_diff=$(( $(date -d "$current_date_time" -u +%s) - $(date -d "$commit_date_time" -u +%s) ))

          # Get the time difference in minutes
          time_min_diff=$(( $time_sec_diff / 60 ))

          echo "Last commit on postgres-playground was at $commit_date_time"
          echo "Current datetime $current_date_time"
          echo "$time_min_diff minutes passed"
          
          if [ "$time_min_diff" -le 1440 ]; then 
            echo "Commits were made less than 1 day ago, proceeding..."
            echo "::set-output name=conditions::true"
          else 
            echo "Commits were made more than 1 day ago, Skipping next job"
            echo "::set-output name=conditions::false"
          fi
      -
        name: Set up Docker Buildx
        if: steps.conditions.outputs.conditions == 'true'
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        if: steps.conditions.outputs.conditions == 'true'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Get Job file from manojmanivannan/postgres-playground repo
        if: steps.conditions.outputs.conditions == 'true'
        env:
          TOKEN: ${{ secrets.DOCKER_REPO_POSTGRES_FETCH_PAT }}
        run: |
          curl -H "Authorization: token ${TOKEN}" https://raw.githubusercontent.com/manojmanivannan/postgres-playground/master/dataset/job.py > ./postgres-playground-py-job/job.py
          ls ./postgres-playground-py-job/
      -
        name: Build and push Postgres Playground Py
        if: steps.conditions.outputs.conditions == 'true'
        uses: docker/build-push-action@v5
        with:
          context: postgres-playground-py-job/
          push: true
          tags: manojmanivannan18/postgres-playground-py:latest

  build-python-st:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push Python St
        uses: docker/build-push-action@v5
        with:
          context: liveisstracker-app-base/
          push: true
          tags: manojmanivannan18/python-hellomaven:python-st-190
